<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css" />
  <script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.js"></script>

  <link rel="stylesheet" href="../static/css/toast/app.css" />

  
</head>
<body>
  <header class="header">
    <nav class="navbar">
      <button class="button is-rounded today">Today</button>
      <button class="button is-rounded prev">
        <img src="" alt="">
        <img alt="prev" src="../static/images/ic-arrow-line-left.png" srcset="../static/images/ic-arrow-line-left@2x.png 2x, ../static/images/ic-arrow-line-left@3x.png 3x">
      </button>
      <button class="button is-rounded next">
        <img alt="next" src="../static/images/ic-arrow-line-right.png" srcset="../static/images/ic-arrow-line-right@2x.png 2x, ../static/images/ic-arrow-line-right@3x.png 3x
          ">
      </button>
      <span class="navbar--range"></span>
    </nav>
  </header>
  <div id="calendar" style="height: 600px;"></div>


  <!-- CDN과 브라우저 환경에서 namespace -->
<script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.ie11.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script src="../static/scripts/toast/utils.js"></script>
<script src="./scripts/data.js"></script>

<script>
  const Calendar = tui.Calendar;
  const container = document.getElementById('calendar');
  const options = {
  defaultView: 'month',
  timezone: {
    zones: [
      {
        timezoneName: 'Asia/Seoul',
        displayLabel: 'Seoul',
      },
      
    ],
  },
  calendars: [
    {
      id: 'cal1',
      name: 'EXPENSE',
      
    },
    {
      id: 'cal2',
      name: 'INCOME',
    },
  ],
};

const calendar = new Calendar(container, options);

calendar.setCalendars([
  {
    id: 'cal1',
    name: 'EXPENSE',
    color: '#f20707',
    backgroundColor: '#ffffff',
    borderColor: '#ffffff',
  },
  {
    id: 'cal2',
    name: 'INCOME',
    color: '#1302fa',
    backgroundColor: '#ffffff',
    borderColor: '#ffffff',
  },
]);

calendar.createEvents([

  {
    id: 'event1',
    calendarId: 'cal1',
    title: ' - 2,000,000',
    start: '2024-07-30',
    end:'2024-07-30',
    category:"allday"
  },
  {
    id: 'event2',
    calendarId: 'cal2',
    title: ' + 200,000',
    start: '2024-08-31',
    end: '2024-08-31',
    category:"allday"

  },
  
])

 const prev=document.querySelector(".prev").addEventListener('click',function(){

 calendar.prev()
displayRenderRange();

 });

 const next=document.querySelector(".next").addEventListener('click',function(){

 calendar.next()
displayRenderRange();

 });

 const today=document.querySelector(".today").addEventListener('click',function(){

 calendar.today()
displayRenderRange();

 });

 const range=document.querySelector(".navbar--range");

 function displayRenderRange() {
    range.textContent = getNavbarRange(calendar.getDateRangeStart(), calendar.getDateRangeEnd(), 'month');
  }

  displayRenderRange();


</script>



</body>
</html>