<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>막대 그래프</title>

    <link rel="stylesheet" href="https://uicdn.toast.com/chart/latest/toastui-chart.min.css" />
<script src="https://uicdn.toast.com/chart/latest/toastui-chart.min.js"></script>
</head>
<body>
    <div id="chart"></div>
    <script>
const Chart = toastui.Chart;
const el = document.getElementById('chart');



const data = {

  //6개월간
  categories: ['24.04', '24.05', '24.06', '24.07', '24.08', '24.09'],
  series: {
    column: [
      {
        name: '수입',
        data: [2500000, 2500000, 1500000,2500000,2500000,2700000],
      },
      {
        name: '지출',
        data: [1500000, 1700000, 2000000,1500000,2700000,1700000],
      },
    ],
    line: [
      {
        name: '예산',
        data: [1500000,1500000,1500000,1500000,1500000,1500000,],
      },
    ],
  },
};
const options = {
  chart: { width: 800, height: 600 },
};

const chart = Chart.columnLineChart({el, data, options});
// const chart = new BarChart({ el, data, options }); // 두 번째 방법
    </script>
</body>
</html>