<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>파이 그래프</title>

    <link rel="stylesheet" href="https://uicdn.toast.com/chart/latest/toastui-chart.min.css" />
<script src="https://uicdn.toast.com/chart/latest/toastui-chart.min.js"></script>
</head>
<body>
    <button>지출</button>
    <button>수입</button>
    <div id="chart"></div>
    <script>
        /* namespace */
const Chart = toastui.Chart;
const el = document.getElementById('chart');
const data = {
  categories: ['Transaction'],
  series: [
    {
      name: '식비',
      data: 46.02,
    },
    {
      name: '쇼핑',
      data: 20.47,
    },
    {
      name: '관리금',
      data: 17.71,
    },
    {
      name: '월세',
      data: 5.45,
    },
    {
      name: '통신비',
      data: 3.1,
    },
    {
      name: '기타',
      data: 7.25,
    }
  ]
}
const options = {
  chart: { width: 800, height: 500 },
  series: {
    dataLabels: {
      visible: true,
      pieSeriesName: {
        visible: true,
        anchor: 'outer'
      }
    }
  }
};

const chart = Chart.pieChart({el, data, options});
// const chart = new BarChart({ el, data, options }); // 두 번째 방법
    </script>
</body>
</html>